@charset "UTF-8";

/**
* .sb-type-TYPE, .sb-type-TYPE > .sb-subtype-X:after
*
* コマ(アイコンと吹き出しをまとめたもの)部分
* frame(speaker icon and name, serief) part
*/

.sb-type-std {
	overflow: hidden;
	padding: 10px 20px;
	margin: 0;
	line-height: 1.5;
	color: #333333;
}

.sb-type-std > .sb-subtype-a:after,
.sb-type-std > .sb-subtype-b:after,
.sb-type-std > .sb-subtype-c:after,
.sb-type-std > .sb-subtype-d:after {
	display: block;
	clear: both;
	content: "";
}

/**
* .sb-type-TYPE > .sb-subtype-X > .sb-speaker
*
* 話者領域      
* Speaker Field 
*/

.sb-type-std > .sb-subtype-a > .sb-speaker,
.sb-type-std > .sb-subtype-c > .sb-speaker {
	float: left;
	margin-right: -70px;
	width: 70px;
}

.sb-type-std > .sb-subtype-b > .sb-speaker,
.sb-type-std > .sb-subtype-d > .sb-speaker {
	float: right;
	margin-left: -70px;
	width: 70px;
}

/**
* .sb-type-TYPE > .sb-subtype-X > .sb-speaker > .sb-icon
*
* 話者のアイコン部分
* Speaker Icon part 
*/

.sb-type-std > .sb-subtype-a > .sb-speaker > .sb-icon,
.sb-type-std > .sb-subtype-b > .sb-speaker > .sb-icon,
.sb-type-std > .sb-subtype-c > .sb-speaker > .sb-icon,
.sb-type-std > .sb-subtype-d > .sb-speaker > .sb-icon  {
	text-align: center;
	height: 60px;
}

.sb-type-std > .sb-subtype-a > .sb-speaker > .sb-icon > img.sb-icon,
.sb-type-std > .sb-subtype-b > .sb-speaker > .sb-icon > img.sb-icon,
.sb-type-std > .sb-subtype-c > .sb-speaker > .sb-icon > img.sb-icon,
.sb-type-std > .sb-subtype-d > .sb-speaker > .sb-icon > img.sb-icon {
	height: 60px;
	width: 60px;
	border-radius: 5px;
}

/**
* .sb-type-TYPE > .sb-subtype-X > .sb-speaker > .sb-name
*
* 話者の名称部分   
* Speaker name part
*/

.sb-type-std > .sb-subtype-a > .sb-speaker > .sb-name,
.sb-type-std > .sb-subtype-b > .sb-speaker > .sb-name,
.sb-type-std > .sb-subtype-c > .sb-speaker > .sb-name,
.sb-type-std > .sb-subtype-d > .sb-speaker > .sb-name {
	overflow: hidden;
	text-align: center;
	font-size: 12px;
}



/*----------------------------------------------------------------------------------*/
/* stdタイプの吹き出し                                                              */
/* std Type   (For a,b)                                                             */
/*----------------------------------------------------------------------------------*/

/**
* .sb-type-TYPE > .sb-subtype-X > .sb-content
* .sb-type-TYPE > .sb-subtype-X > .sb-content:befor, :after
*
* セリフ&引き出し 部分 
* Serief& Tail part    
*/

@media screen and (min-width:721px) {
	.sb-type-std > .sb-subtype-a > .sb-content {
		float: left;
		position: relative;
		margin-left: 80px;
		margin-right:80px;
	}
}
@media screen and (max-width:720px) {
	.sb-type-std > .sb-subtype-a > .sb-content {
		float: left;
		position: relative;
		margin-left: 80px;
	}
}

.sb-type-std > .sb-subtype-a > .sb-content:before {
	position: absolute;
	top: 9px;
	left: -6px;
	z-index: 1;
	height: 0;
	width: 0;
	border-style: solid solid solid none;
	border-width: 6px;
	border-color: transparent #CCCCCC;
	content: "";
}

.sb-type-std > .sb-subtype-a > .sb-content:after {
	position: absolute;
	top: 9px;
	left: -5px;
	z-index: 3;
	height: 0;
	width: 0;
	border-style: solid solid solid none;
	border-width: 6px;
	border-color: transparent #FFFFFF;
	content: "";
}




@media screen and (min-width:721px) {
	.sb-type-std > .sb-subtype-b > .sb-content {
		float: right;
		position: relative;
		margin-right: 80px;
		margin-left:  80px;
	}
}
@media screen and (max-width:720px) {
	.sb-type-std > .sb-subtype-b > .sb-content {
		float: right;
		position: relative;
		margin-right: 80px;
	}
}

.sb-type-std > .sb-subtype-b > .sb-content:before {
	position: absolute;
	top: 9px;
	right: -6px;
	z-index: 1;
	height: 0;
	width: 0;
	border-style: solid none solid solid;
	border-width: 6px;
	border-color: transparent #CCCCCC;
	content: "";
}

.sb-type-std > .sb-subtype-b > .sb-content:after {
	position: absolute;
	top: 9px;
	right: -5px;
	z-index: 3;
	width: 0;
	height: 0;
	border-style: solid none solid solid;
	border-width: 6px;
	border-color: transparent #FFFFFF;
	content: "";
}


/**
* .sb-type-TYPE > .sb-subtype-X > .sb-content > .sb-speech-bubble
*
* 吹き出しの本体部分      
* Speach bubble' body part
*/

.sb-type-std > .sb-subtype-a > .sb-content > .sb-speech-bubble,
.sb-type-std > .sb-subtype-b > .sb-content > .sb-speech-bubble {
	position: relative;
	padding: 5px 10px;
	z-index: 2;
	background-color: #FFFFFF;
	border-style: solid;
	border-width: 1px;
	border-color: #CCCCCC;
	border-radius: 5px;
	color: #333333;
}



/*----------------------------------------------------------------------------------*/
/* std用に調整した考えてるタイプの吹き出し                                          */
/* std-Think Type   (For c,d)                                                       */
/*----------------------------------------------------------------------------------*/

/**
* .sb-type-TYPE > .sb-subtype-X > .sb-content
* .sb-type-TYPE > .sb-subtype-X > .sb-content:befor, :after
*
* セリフ&引き出し 部分 
* Serief& Tail part    
*/

@media screen and (min-width:721px) {
	.sb-type-std > .sb-subtype-c > .sb-content {
		float: left;
		position: relative;
		margin-left:  100px;
		margin-right: 100px;
	}
}
@media screen and (max-width:720px) {
	.sb-type-std > .sb-subtype-c > .sb-content {
		float: left;
		position: relative;
		margin-left: 100px;
	}
}

.sb-type-std > .sb-subtype-c > .sb-content:before {
	position: absolute;
	top: 10px;
	left: -17px;
	height: 12px;
	width:  12px;
	border:dashed 1px #909090;
	border-radius: 10px;
	content: "";
}

.sb-type-std > .sb-subtype-c > .sb-content:after {
	content: "";
	position: absolute;
	top: 20px;
	left: -28px;
	height: 8px;
	width:  8px;
	border:dashed 1px #909090;
	border-radius: 5px;
}




@media screen and (min-width:721px) {
	.sb-type-std > .sb-subtype-d > .sb-content {
		float: right;
		position: relative;
		margin-right: 100px;
		margin-left:  100px;
	}
}

@media screen and (max-width:720px) {
	.sb-type-std > .sb-subtype-d > .sb-content {
		float: right;
		position: relative;
		margin-right: 100px;
	}
}

.sb-type-std > .sb-subtype-d > .sb-content:before {
	position: absolute;
	top: 10px;
	right: -17px;
	height: 12px;
	width:  12px;
	border:dashed 1px #909090;
	border-radius: 10px;
	content: "";
}

.sb-type-std > .sb-subtype-d > .sb-content:after {
	position: absolute;
	top: 20px;
	right: -28px;
	height: 8px;
	width:  8px;
	border:dashed 1px #909090;
	border-radius: 5px;
	content: "";
}

/**
* .sb-type-TYPE > .sb-subtype-X > .sb-content > .sb-speech-bubble
*
* 吹き出しの本体部分      
* Speach bubble' body part
*/

.sb-type-std > .sb-subtype-c > .sb-content > .sb-speech-bubble,
.sb-type-std > .sb-subtype-d > .sb-content > .sb-speech-bubble {
	position: relative;
	padding: 5px 10px;
	margin-bottom: 20px;
	border:dashed 1px #909090;
	border-radius: 5px;
}

